/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 79px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('/img/iert1.jpg') no-repeat center center/cover;
    height: 600px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}

#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color:white;
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Bree Serif', serif;
    
}
#home2{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#home2::before{ 
    content: "";
    position: absolute;
    background: url('/img/iert2.jpg') no-repeat center center/cover;
    height: 700px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}


.container2 ul {
    text-align: center;
    align-content: center;
    font-size: 77px;

}



.container2 ul button {
    background-color: rgba(19, 19, 17, 0.637);
    width: 309px;
    height: 52px;
    text-decoration: none;
    border-radius: 33px;
    font-size: 23px;


}

.container2 ul button a {
    text-decoration: none;
    font-style: inherit;
    color: rgba(235, 225, 225, 0.726);
    
}

/* Services Section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;

} 




footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}

.center{
    text-align: center;
}

/*aryan*/
marquee{
    color: red;
    font-size: 1.2rem;

}
marquee p{
    display: inline-flex;
    
}
marquee p img{
    
    max-height: 1rem;
    
}



#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('/img/iert1.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}
#contact-box select{
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;
    
 
 }
 
 #contact-box #submit {
    width: 100%;
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
    cursor: pointer;
    
 
 }
 #contact-box #submit:hover {
    background-color: thistle;

}



.holder { 
    background-color:#ccc;
    width:300px;
    height:250px;
    overflow:hidden;
    padding:10px;
    font-family:Helvetica;
  }
  .holder .mask {
    position: relative;
    left: 0px;
    top: 10px;
    width:300px;
    height:240px;
    overflow: hidden;
  }
  .holder ul {
    list-style:none;
    margin:0;
    padding:0;
    position: relative;
  }
  .holder ul li {
    padding:10px 0px;
  }
  .holder ul li a {
    color:darkred;
    text-decoration:none;
  }.holder { 
  background-color:#ccc;
  width:300px;
  height:250px;
  overflow:hidden;
  padding:10px;
  font-family:Helvetica;
}
.holder .mask {
  position: relative;
  left: 0px;
  top: 10px;
  width:300px;
  height:240px;
  overflow: hidden;
}
.holder ul {
  list-style:none;
  margin:0;
  padding:0;
  position: relative;
}
.holder ul li {
  padding:10px 0px;
}
.holder ul li a {
  color:darkred;
  text-decoration:none;
}.holder { 
    text-align: center;
    margin: auto;
  background-color:#ccc;
  width:300px;
  height:250px;
  overflow:hidden;
  padding:10px;
  font-family:Helvetica;
}
.holder .mask {
  position: relative;
  left: 0px;
  top: 10px;
  width:300px;
  height:240px;
  overflow: hidden;
}
.holder ul {
  list-style:none;
  margin:0;
  padding:0;
  position: relative;
}
.holder ul li {
  padding:10px 0px;
}
.holder ul li a {
  color:darkred;
  text-decoration:none;
}

.whatsapp{

        background-color: rgba(32, 24, 24, 0.89);
        z-index: -1;
        text-align: center;
        
}
.social{
    margin:auto;
}
/*googleform*/
#googleForm{
    border-radius: 8px solid rgb(26, 26, 214);
    place-items: center;
   display: block;
}
#googleForm button{
    border-radius: 77px;
  margin: auto;
    padding: 9px 12px;
    background-color: rgba(85, 51, 51, 0.336);
    
}
#googleForm button a{
    color: rgba(36, 32, 11, 0.671);
   text-decoration: none;
   font-size: larger;
    
}



