<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IERT | ABOUT |</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1170px)" href="css/phone.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
</head>

<body onload="myFunction()" >
    <div id="loading"></div>

    {{>header}}
    <section id="home">
        <h1 class="h-primary">Welcome to IERT</h1>
        <p>INSTITUTE OF ENGINEERING AND RURAL TECHNOLOGY (IERT), ALLAHABAD</p>

        
    </section>
    <section id="services-container">
        <h1 class="h-primary center">College</h1>
        <p class="center">Institute of Engineering and Rural Technology, established in 1955, is a state government engineering institution located in Allahabad, Uttar Pradesh.</p>
        
        <div id="services">
            <div class="box">
                
                <h2 class="h-secondary center">IERT</h2>
                <p class="center">  <p >Institute of Engineering and Rural Technology, established in 1955, is a state government engineering institution located in Allahabad, Uttar Pradesh. It is one of the oldest and premier institutions of India which offers B.Tech course in addition to various Diploma courses in multiple specializations.

                    IERT offers 3 years (6 semester) diploma courses in engineering/technology. These diplomas can be opted in various branches like civil engineering, mechanical engineering, plastic technology etc. The also institute also offers a 2 year (4 semester) undergraduate management diploma and a 1/1.5 year (3 semester) post diploma in computer application. Along with these courses, IERT also offers full time 4-year UG B.Tech degree in branches like Computer Science and Engineering, Electronics engineering, Mechanical engineering etc.</p>
            
                    <br><br><p><h3>Institute of Engineering and Rural Technology (IERT) Diploma Admission 2021</h3>
                        Candidates applying for the 3-year Engineering Diploma courses should have passed Class 10th examination with Science and Maths conducted by a recognized board of education. Admission to the course is done on the basis of merit in the Entrance Examination, conducted by IERT itself.
                        
                        Candidates applying for the one and half year post diploma in computer application should have done graduation in any discipline with Physics and Maths as compulsory subjects at intermediate level (10+2) level.
                        
                        Candidates seeking admission to the 2-year Management diploma course should have passed their 10+2 examination conducted by any recognized board. The management diploma is offered in three branches namely, commercial practice, materials management and marketing management. </p><br><br>
            </p>
            </div>
            
        </div>
    </section>
    {{>footer}}
    <script>
        var preloader = document.getElementById('loading');
        function myFunction(){
            preloader.style.display = 'none';
        }
    </script>

    </body>
