<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IERT | STUDENT | CIVIL |</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1170px)" href="css/phone.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
</head>

<body onload="myFunction()" >
    <div id="loading"></div>
    {{>header}}
    <section id="home2">

        <div class="container2">
            <ul id="box">
                <button><a href="https://drive.google.com/drive/folders/17_2Lgjm-Se-u9ISBJvDhBd5hTBTbMWna?usp=sharing">1st semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/17cQSdUd1_XZhq5NBotxMs_foMFR2y7nU?usp=sharing">2nd semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/17f5cN855gyHLpGZqeYGaiV9eQtZjz7H3?usp=sharing">3rd semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/17hkw9pSuXbxwxI3OONw5uXPnjTq6O8xb?usp=sharing">4th semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/17iYqIPiwaC1umeVyvgKBpxFs9kDTs-xJ?usp=sharing">5th semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/17iYqIPiwaC1umeVyvgKBpxFs9kDTs-xJ?usp=sharing">6th semester</a></button>

            </ul>
        </div>
    </section>



    {{>footer}}
    <script>
        var preloader = document.getElementById('loading');
        function myFunction(){
            preloader.style.display = 'none';
        }
    </script>

</body>