<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IERT | STUDENT | Electronics |</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1170px)" href="css/phone.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
</head>

<body>
    {{>header}}

    <section id="home2">

        <div class="container2">
            <ul id="box">
                <button><a href="https://drive.google.com/drive/folders/11v2VCVDeGAflo6iDvZfWGzX6NdArMnvn?usp=sharing">1st semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/12-5zYZ59HDn8WOLDBbUThiBmUvSzvsIG?usp=sharing">2nd semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/122k2z9gcdH5JKhDdkqqTYKXvjHX5ToRN?usp=sharing">3rd semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/125rUyMueDTOjXBsTqVxVYVyIfsVzVoHe?usp=sharing">4th semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/12JSXtSfVDPqzUwF7tEVGeG2sBbY8xdlK?usp=sharing">5th semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/12FuRqVIJ7qUGUvQ04I_z-kTinzrRYmBd?usp=sharing">6th semester</a></button>

            </ul>
        </div>
    </section>



    {{>footer}}

</body>
