<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IERT | STUDENT | Electrical | </title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1170px)" href="css/phone.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
</head>

<body>
    {{>header}}

    <section id="home2">

        <div class="container2">
            <ul id="box">
                <button type="button"><a href="https://drive.google.com/drive/folders/17GK0QnqC3l6_QYppTjllu_72kZS6LbHq?usp=sharing">1st semester</a></button>
                <button type="button"><a href="https://drive.google.com/drive/folders/17Hjqor-6Y6Y2QE3tWIcCuo-sJGew6wX9?usp=sharing">2nd semester</a></button>
                <button type="button"><a href="https://drive.google.com/drive/folders/17JTQJ6zy8k_tKiszwzZVbOHFNJgdGonJ?usp=sharing">3rd semester</a></button>
                <button type="button"><a href="https://drive.google.com/drive/folders/17JoY-IR2Hyht6TNBeotkBhmrRMvD77qq?usp=sharing">4th semester</a></button>
                <button type="button"><a href="https://drive.google.com/drive/folders/17JoY-IR2Hyht6TNBeotkBhmrRMvD77qq?usp=sharing">5th semester</a></button>
                <button type="button"><a href="https://drive.google.com/drive/folders/17YLAv7ZqpyBaK9mfurEEFSYeRZRar1xL?usp=sharing">6th semester</a></button>

            </ul>
        </div>
    </section>



    {{>footer}}

</body>