<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IERT | STUDENT | IC |</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1170px)" href="css/phone.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
</head>

<body onload="myFunction()" >
    <div id="loading"></div>
    {{>header}}

    <section id="home2">

        <div class="container2">
            <ul id="box">
                <button><a href="https://drive.google.com/drive/folders/17l__4qMBlys73ktg85WSNOdiqi7eT0J-?usp=sharing">1st semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/17psVHnozGgRIxskx7IXloUFK0q0Vb3I8?usp=sharing">2nd semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/17uhCBQIb-Ypdz0CI1NMESyy63k-0atxN?usp=sharing">3rd semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/17yH_GwjewgIXRwWcHLL_crrNJ_DlpqTy?usp=sharing">4th semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/18021iUpTbG1JnSwrEilBkD-76fvgAh_F?usp=sharing">5th semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/1844Fkxh-QAP7rvHFkhYpsjfPh3wi-k0W?usp=sharing">6th semester</a></button>

            </ul>
        </div>
    </section>



   {{>footer}}
   <script>
        var preloader = document.getElementById('loading');
        function myFunction(){
            preloader.style.display = 'none';
        }
    </script>

</body>