<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NOTES | </title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1170px)" href="css/phone.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">

</head>

<body>
    {{>header}}
    <section id="home">
        <h1 class="h-primary">Welcome to Notes world</h1>
        <p>HERE ALL STUDY MATERIALS AVAILABLE RELATED TO DIPLOMA</p>

    </section>
    <section id="services-container">
        <h1 class="h-primary center">NOTES</h1>
        <p class="center">HERE ALL DIRECT LINKS AVAILABLE</p>

        <div id="services">
            <div class="box">

                <h2 class="h-secondary center">COMMON SUBJECTS</h2>
                <p class="center">
                    <marquee class="holder" direction="up" behavior="alternate" scrolldelay="400" height="230px"
                        width="300px">
                        <ul id="ticker1">
                            <li> <a
                                    href="https://drive.google.com/drive/folders/14ob6NK88i3IEFF72vXze5CaNXNsALASk?usp=sharing">PHYSICS</a>
                            </li>
                            <li> <a
                                    href="https://drive.google.com/drive/folders/15-RO7mjtwgumvIpiLg88lJ5OLV86MeGi?usp=sharing">CHEMISTRY</a>
                            </li>
                            <li> <a
                                    href="https://drive.google.com/drive/folders/15HC-dmQ_kTqtZQMjOCNaw2U-wHLREWeX?usp=sharing">MECHANICS</a>
                            </li>
                            <li> <a
                                    href="https://drive.google.com/drive/folders/14kqQ_JQbGC2LSkeyqHYxq5nq8954EpDa?usp=sharing">MATH
                                    I </a> </li>
                            <li> <a
                                    href="https://drive.google.com/drive/folders/15SPpo9_2-k0whsQYTSQFpfvbr20v4s3h?usp=sharing">MATH
                                    II</a> </li>
                            <li> <a
                                    href="https://drive.google.com/drive/folders/1AZ_1OKD_YVBazNnfRg_nPuccyknIiRKU?usp=sharing">WORKSHOP</a>
                            </li>
                            <li> <a
                                    href="https://drive.google.com/drive/folders/15JgMY5Wh6PB_kq2JluRA-LkYD2Pw2MQ4?usp=sharing">ELE.
                                    MACHINE</a> </li>
                            <li> <a
                                    href="https://drive.google.com/drive/folders/152EhOr5AivwIiQwtSWB3tCEqTdfCSt-Z?usp=sharing">DRAWING</a>
                            </li>
                            <li> <a
                                    href="https://drive.google.com/drive/folders/1E1PmC1WwvS5o6_41pcnRrydMr6O9ZDMY?usp=sharing">HUMANITY</a>
                            </li>
                            <li> <a
                                    href="https://drive.google.com/drive/folders/15W7lX1gTR4t-Pg5Z4CHT3rIfKLVfmB_p?usp=sharing">COMPUTER</a>
                            </li>

                        </ul>



                    </marquee>
            </div>
            <div class="box">

                <h2 class="h-secondary center">Something New</h2>
                <p class="center">
                    <marquee direction="up" behavior="alternate" scrolldelay="400" height="300px" width="200">
                        <p>
                            1. [uplode]: EMM(elec. machine),Digital Electronics and Control system notes uploaded .
                            <img src="/img/new.png">
                        </p><br>


                        <br>
                        <p>
                            2. [uplode]: 2nd,3rd,4th,5th and 6th sem of electronics study material uploded.We will try
                            to upload 1st sem material as soon as possible.
                        </p><br>
                        <br>
                        <p>
                            3. [update]:This site is not related to any institute.

                        </p><br>
                        <br>
                        <p>
                            4. [HELP]: PLZ send me notes related to your course which we uplode as soon as possible.
                            whatsapp no. 6307499972

                        </p><br>
                    </marquee>
            </div>
            <div class="box">

                <h2 class="h-secondary center">-:NOTE:-</h2>
                <p class="center"> All common subjects study material available on the Electronics branch . If COMMON
                    SUBJECT box direct link not work then go to <strong>Student -> Electronics</strong>
                <div id="googleForm">
                </div>
            </div>
        </div>
    </section>

    {{>footer}}


    </body>


</html>