<!DOCTYPE html>
<html lang="en">

<body onload="myFunction()" >
    <div id="loading"></div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IERT | STUDENT | MECH | </title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1170px)" href="css/phone.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
</head>

<body>
    {{>header}}

    <section id="home2">

        <div class="container2">
            <ul id="box">
                <button><a href="https://drive.google.com/drive/folders/18IDahMoF79MURAKkkxobWpxi-Mmar8me?usp=sharing">1st semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/18TZ2h8LfjFE9NwcqTzHfqEw8o_U_eN3c?usp=sharing">2nd semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/18VolzJWe18RuVJDGPljWHf-4gSf9nvak?usp=sharing">3rd semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/18YaaKaNpkt-lTe-l9TpL-LbBdLX85kGW?usp=sharing">4th semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/18d99hHi4Yr1uDQPc5xM_Dr1wVbIvH674?usp=sharing">5th semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/18fMUcKRPehiO5-L5kLuE9mVoPv3OuecE?usp=sharing">6th semester</a></button>

            </ul>
        </div>
    </section>



    {{>footer}}

</body>