<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IERT | STUDENT | PLASTIC |</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1170px)" href="css/phone.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
</head>

<body>
    {{>header}}


    <section id="home2">

        <div class="container2">
            <ul id="box">
                <button><a href="https://drive.google.com/drive/folders/1F8Zw5q7-BTEz9raywtGGTEtT-xS3pZZl?usp=sharing">1st semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/1FBSJr2AVOX8_QcIIei7LEKSjZ0DLTL0u?usp=sharing">2nd semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/1FEYAhEGr36hL7oeWrfxiYsz6Ri4SURCX?usp=sharing">3rd semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/1FLr9UGQylecalAgObXn4GMzGAD90UFdJ?usp=sharing">4th semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/1FNDaR0UeW5kfjmHT-Ql57jIJ21HlGjrP?usp=sharing">5th semester</a></button>
                <button><a href="https://drive.google.com/drive/folders/1FNDaR0UeW5kfjmHT-Ql57jIJ21HlGjrP?usp=sharing">6th semester</a></button>

            </ul>
        </div>
    </section>



   {{>footer}}

</body>