<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IERT | STUDENT | </title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1170px)" href="css/phone.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
</head>

<body>
    {{>header}}


    <section id="home2">

        <div class="container2">
            <ul id="box">
                <button><a href="/Electronics">Electronics</a></button>
                <button><a href="/Electrical">Electrical</a></button>
                <button><a href="/Civil"> Civil </a></button>
                <button><a href="/Mechanical"> Mechanical</a></button>
                <button><a href="/Plastic"> Plastic</a></button>
                <button><a href="/IC">IC</a></button>

            </ul>
        </div>
    </section>



    {{>footer}}

</body>