    <div class="whatsapp">

        <div class="social">
            <a href="https://wa.me/+916307499972?text=Hi%20,%20I%20am%20Aryan" target="_blank">
                <img src="img/whatsapp.png" width="50" height="50" />
            </a>
            <a href="https://www.instagram.com/invites/contact/?i=3thcaumok5ir&utm_content=23gszza" target="_blank">
                <img src="img/insta.png" width="50" height="50" />
            </a>

        </div>


    </div>
    <footer>
        <div class="center">
            All rights reserved. 2021. ©NOTES.
            Developed by Aryan( +91-6307499972 )
        </div>
    </footer>