    <nav id="navbar">
        <div id="logo">
            <img src="/img/logo.png" alt="ARYAN">
        </div>
        <ul>
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="Student">Notes</a></li>
            <li class="item"><a href="About">About</a></li>
            <li class="item"><a href="ContactUs">ContactUs</a></li>
            <li class="item"><a href="Logout">Logout</a></li>
            
        </ul>
    </nav>